:root {
    --footer-link-color: hsl(0, 0%, 80%);
}

/* Top */
footer {
    background: #1a0e36;
    color: var(--footer-link-color);
}

footer a {
    background: #1a0e36;
    color: var(--footer-link-color);
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer .footer-top a {
    font-size: 14px;
    margin: 0 0.75rem;
}

footer .footer-top a:hover {
    color: hsl(0, 0%, 100%);
}

footer .footer-top select {
    font-size: 14px;
    background: #1a0e36;
    color: var(--footer-link-color);
    border: none;
    box-shadow: none;
}

footer .footer-top select>option {
    font-size: 14px;
    background: #1a0e36;
    color: var(--footer-link-color);
    border: none;
    box-shadow: none;
}

/* Middle */
footer .footer-middle {
    color: var(--footer-link-color);
    font-size: 14px;
}

footer .footer-middle a {
    margin: 0 0 0.75rem 0;
}

/* Bottom */
footer .footer-bottom {
    font-size: 0.75rem;
    padding: 1.75rem 0;
}

footer .footer-bottom a {
    text-decoration: none;
    margin: 0 0.75rem;
}

footer .footer-bottom a .meteor {
    font-size: 1rem;
    color: #dc3545;
}

footer .footer-top select:hover {
    color: hsl(0, 0%, 100%);
}