[data-setname="header"] {
    margin-top: 2px;
}

[data-setname="header"] .row .col-xl-4:nth-child(1) {
    position: relative;
    background: url("/image/leatest-news-card/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

[data-setname="header"] .row .col-xl-4:nth-child(2) {
    position: relative;
    background: url("/image/leatest-news-card/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

[data-setname="header"] .row .col-xl-4:nth-child(3) {
    position: relative;
    background: url("/image/leatest-news-card/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

[data-setname="header"] .row .col-xl-4 .header-back {
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-gradient-1 {
    background: linear-gradient(to top, rgba(120, 20, 147, 1), rgba(197, 90, 102, 0.5), rgba(239, 84, 81, 0.5));
}

.header-gradient-2 {
    background: linear-gradient(to top, rgba(236, 70, 17, 1), rgba(197, 90, 102, 0.5), rgba(239, 84, 81, 0.5));
}

.header-gradient-3 {
    background: linear-gradient(to top, rgba(2, 129, 212, 1), rgba(197, 90, 102, 0.5), rgba(239, 84, 81, 0.5));
}